header {
    background-color: #970747;
}
.connexion{
    color: black;
    transition: 0.3s color;
}

.section-categorie {
    border-color: red yellow green hsla(60, 90%, 50%, .8);
    background-color: #FEF4E8;
}
.navbar-toggler {
    border: none;
}

.navbar-toggler:hover {
    border: none;
}
aside {
    background-image: url('asset/img/search_4.jpg');
}
.test {
    border :#970747;
    background: beige;
}
.bord {
    border: 3px solid red ;
}
.bord1 {
    border-color: aqua;
    background: rgb(192, 160, 180);
}
.bord2 {
    background: #000;
}
/* test */
.container { 
    border: 3px solid; 
} 
.container-fluid {
    border: 3px solid;
    --bs-gutter-x: 0;
    
}
.row {
    --bs-gutter-x: 0;

}
 
.bordureRouge {
    border: 3px solid red;
    padding: 1rem;
}
.bordureVerte {
    border: 3px solid green; padding: 10px;
}
.bordureBleue {
    border: 3px solid blue; padding: 10px;
}
.bordureJaune {
    border: 3px solid yellow; padding: 10px; 
}
.bordureOrange {
    border: 3px solid orange;
}
.cate {
    margin: 5rem;
    background-color: white;
}
.Plats {
    margin: 3rem;
}
.text-plat {
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 1.5rem;
}