header {
    background-color: #970747;
}
.connexion{
    color: black;
    transition: 0.3s color;
}

.section-categorie {
    border-color: red yellow green hsla(60, 90%, 50%, .8);
    background-color: beige;
}
.navbar-toggler {
    border: none;
}

.navbar-toggler:hover {
    border: none;
}
aside {
    background-image: url('asset/img/search_4.jpg');
}
.test {
    border :#970747;
    background: beige;
}
.bord {
    border: 3px solid red ;
}
.bord1 {
    border-color: aqua;
    background: rgb(192, 160, 180);
}
.bord2 {
    background: #000;
}